@font-face {
	font-family:Ampersand;
	src:local('Baskerville'),
		local('Goudy Old Style'),
		local('Palatino'),
		local('Book Antiqua');
	unicode-range:U+26;
	font-style: italic;
}


/*basic*/
* {	
	transition:0.5s cubic-bezier(.25,0.1,.3,1.5) transform;
	font-family: Ampersand, 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}
*:focus {
	outline-color: rgb(222,222,222);
	transform:translateY(5px);
}
:disabled, [disabled], [aria-disabled='true'] {
	cursor: not-allowed;
}
html {
	font-size: 0.8rem;
}
body {
	margin: 0;
	background: hsl(20,40%,90%);
	background-image:	linear-gradient(90deg,#CAAF77 11px, transparent 0), 
						linear-gradient(90deg,#A3B153 23px, transparent 0), 
						linear-gradient(90deg,#BEBEBE 41px, transparent 0);
	background-size: 41px 100%, 61px 100%, 83px 100%;
}
h1 {
	font-size: 2.5em;
}
a {
	color: currentColor;
	text-decoration: none;
	padding: 0 1rem;
}
/*a:hover {
	background-color: rgb(145, 145, 179);
}*/
article p , footer a{
	font-size: 1.3em;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav li {
	width: 100%;
}
button::before {
	content: '';
	position: absolute;
	top: -.8em;
	left: -.8em;
	right: -.8em;
	bottom: -.8em;
}



/*images*/
svg {
	width: 1.5em;
	height: 1.5em;
	padding-right: 1em;
	vertical-align: middle;
}
img {
	max-width: 80vw;
	/*width: 100%;*/
}
#profile-img {
	width: 5.3em;
	border-radius: 3em;
	display: block;
    margin: auto;
}


/*header*/
header {
	background-color: rgb(159, 160, 140);
	color: #3B3B3B;
}
header,nav > ul, footer > ul , main{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header,nav > ul ,footer > ul, main{
	flex-wrap: wrap;
}
header nav li {
	
}
header nav a:hover {
	background-color:#AEAE92;
	transform:translateY(-5px);
} 
header nav li:last-of-type {
	margin-bottom:1rem;
}
header figure {
	width: 100%;
}
header a {
	display: block;
	font-size: 1.2em;
	font-weight: 600;
	margin: 0.5rem;
	margin-top:1rem;
	padding: 0.5rem 1.5rem;
	-webkit-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
}


/*main*/
main {
	align-items: flex-start;
}


/*article*/
article {
	width: 100%;
	max-width: 35em;
	background-color: rgb(233, 235, 217);
}
article > *{
	padding: 0.5rem;
}
article header {
	display: block;
	background-color: #BFB189;
}
article:first-of-type {
	align-self:center;	/*<-- vertical centering	*/
}


/*form*/
label {
	display: inline-block;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-left: 1em;
	background: #eef1f7;
	width: 90%;
}
label span {
	display: block;
	color: #6a788d;
	font-weight: 600;
	margin-bottom: 1em;
	margin-top: 0.5em;
	font-size: 1em;
}
fieldset {
	margin-bottom: 1.875em;
	border: none;
}
legend {
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: #4B6D9F;
	color: #eef1f7;
	width: 100%;
	font-weight: bold;
}
input {
	width: 99%;
	height: 3.333em;
	margin-bottom: 1.6667em;
	border: 1px solid #eee;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
}
[role="button"] {
	border: none;
	border-radius: 4px;
	background-color: rgba(75, 109, 159, 1);
	display: inline-block;
	margin-bottom: 1.2em;
	color: white;
	font-weight: 600;
	padding: 1em 1.2em;
	cursor: pointer;

	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
[role="button"]:hover {
  background-color: rgba(90, 176, 238, 0.8);
}


/*profile article*/
#profile-picture {
	display: none;
	max-width: -webkit-min-content;
	max-width: -moz-min-content;
	max-width: min-content;
}
#profile-picture img {
	border-radius: 3em;
}
#profile-picture:target {
	animation: highlight 1s ease; 
	display: block;
}
#profile-picture header {
	width: 100%;
    padding: 0.5rem; 
    margin-left: -0.5rem;
}
.filter-effects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.filter-effects figure {
	width: 30%;
}
.filter-effects img ,.filter-effects figcaption {
	width:100%;
}

/*pasword article*/
#password {
	position: absolute;
	top: 7em;
    left: 50%;
    transform: translateX(-50%);
	display: none;
}
#password:target {
	animation: highlight 1s ease; 
	display: block;
	box-shadow: 0 0 0 50vmax rgba(0,0,0, .5);
}
#password header {
	justify-content: space-between;
}
#password header a {
	background-color: #C06161;
}


/*photos article*/
#photo-albums {
	display: none;
	max-width: -webkit-min-content;
	max-width: -moz-min-content;
	max-width: min-content;
}
#photo-albums:target {
	animation: highlight 1s ease; 
	display: block;
}
@keyframes highlight {
  0% {  
  	background-color: rgb(246, 255, 174); 
  }
  100% { 
  	background-color: rgb(233, 235, 217); 
  }
}


/*find friends article*/
#find-friends {
	display: none;
}
#find-friends header {
	width: 100%;
}
#find-friends:target {
	animation: highlight 1s ease; 
	display: flex;
	flex-wrap: wrap;
}
#find-friends figure {
	padding:0;
	max-width: -webkit-min-content;
	max-width: -moz-min-content;
	max-width: min-content;	
}


/*footer*/
footer {
	padding: 2em 0;
	max-width: 40em;
	margin: auto;
}
footer nav li {
	width:auto;
	padding: 0.1rem;
	margin: 0.1rem;
}
footer address {
	width: 10em;
    margin: auto;
}
footer > ul a {
	margin: 0.5rem;
}


/*loader*/
@keyframes spinner {
	to {
		background-position: -1600px 0;
	}
}

.loader {
	/* Code From Lea Verou - CSS Secrets */
	width: 6.250em;
	height: 6.250em;
	background-image: url('images/loader.png');
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
	animation: spinner 1.3s infinite steps(16);
}


/*mediaqueries*/
@media (min-width: 35.625em) { /* 570px */
	html {
		font-size: 1rem;
	}
	img {
		max-width: 35em;
	}
	header nav li:last-of-type {
		margin-bottom:0;
	}
	header li ,header figure{ 
		width: auto;
	}
}


